.container {
    position: relative;
}

.pointer-transparent {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.2);
    pointer-events: none;
}

.pointer-target {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.2);
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainCanvas {
    border: solid;
    touch-action: none;
}