* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
    background-color: lightgray;
}

/* header .headline {
    font-size: 32px;
} */

.nav-list {
    text-align: left;
    padding: 10px 0;
    margin: 0 auto;
}

.nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

a:link{color: darkgrey; }
a:visited{color: #000080; }
a:hover{color: black; }
a:active{color: #ff8000; }