html, body {background: none repeat scroll 0 0 transparent; touch-action: none;}
body .app {font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif; font-size: 12px;}
body {position: relative; overflow: hidden; margin: 0; padding: 0; width: 100vw; height: 100vh; background-color: #252525;}
input[disabled] {pointer-events: none;}
input[type=file] {display: none;}
img {border: none;}
a {text-decoration: none;}

canvas {position: absolute; left: 0; top: 0;}

.FlexWrapper {display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;}

.FloatLeft {float: left;}
.FloatRight {float: right;}

.app {height: 100%;}
.Wrapper {position: relative; overflow: hidden; height: 100%; background-image: url("/images/papers/paper_01.jpg")}

.menu > div {padding: 20px; background-color: white; display: inline-block;}
.title {position: absolute; top: 0; right: 0; margin-right: 20px;}
.BackToMenu {position: absolute; top: 0; right: 10px; padding: 8px 0}

.raster .VectorPart {display: none;}
.vector .RasterPart {display: none;}

.vector.raster .VectorPart {display: inline-block;}
.vector.raster .RasterPart {display: inline-block; margin-left: 30px;}

.Overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
.Dialog {width: 60%; height: 90%; min-width: 600px; background-color: white; border: 1px solid gray;}

.Dialog .View {margin: 0 10px;}
.Dialog .View .Group {margin-top: 5px;}
.Dialog .View .Parent {margin-left: 50px;}
.Dialog .View table td:last-child {width: 200px;}

.Dialog .tabs-line + div {overflow-y: auto;}

table {width: 100%; border-collapse: collapse;}
.Dialog .knowledge-graph thead th {width: 33%; background-color: #CCC;}
.Dialog .knowledge-graph table th,
.Dialog .knowledge-graph table td {border: 1px solid gray;}

.tabs .text-segmentation-view .tab-content.text-segmentation-view {display: block;}
.tabs .semantics-view .tab-content.semantics-view {display: block;}
.tabs .knowledge-graph .tab-content.knowledge-graph {display: block;}
