.tabs {}

.tabs .tabs-line {overflow: hidden;}

.tabs .tabs-line label {
	float: left;
	background-color: #eaeaea;
	padding: 10px 20px;
	border: 1px solid #ccc;
	font-size: 14px;
	cursor: pointer;
}

.tabs .tabs-line input[type=radio] {display: none}

.tabs .tabs-line input[type=radio]:checked + label {
	background-color: white;
	color: #0097d4;
	pointer-events: none;
	/*border-bottom: 1px solid white;*/
}

.tabs .tabs-line input[type=radio][disabled] + label {
	pointer-events: none;
	color: #999;
}

.tabs .tabs-line + div {
	margin-top: -1px;
}

.tabs .tab-content {
	border: 1px solid #ccc;
}

.tabs .tab-content {display: none;}
